* {
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;

    margin: 0;
    padding: 0;
    box-sizing: border-box;

    a{
        text-decoration: none;
    }
}

/* AJUSTES GENERALES */
h1, h2, h3, h4, h5, h6, p, span, a, ul, ol, li { margin: 0; padding: 0; }

ul, ol, li { list-style: none; }

a { text-decoration: none; }

.nav-link--white { color: #ebebeb; }

.nav-link--white:hover {
    font-weight: bold;
    color: #bfbfbf;
    text-decoration: underline;
}

/* GLOBAl STYLES */
/* -- COLORS */
:root {
    .color--white {
        color: white;
    }
    
    .color--white-soft {
        color: rgb(216, 216, 216);
    }

    .color--black {
        color: #1F172F;
    }

    .color--black-dark {
        color: #000000;
    }

    .color--black-mid {
        color: #575757;
    }

    .color--black-soft {
        color: #707070;
    }

    .color--grey {
        color: #8A8A8A;
    }

    --gradient: linear-gradient(100deg, #80EAFF 0%, #A066D6 50%, #C84CBF 100%)
}

/* -- TEXT */
:root {
    .title-main { font-size: 64px; line-height: 51px; }
    .txt-h1 { font-weight: 500; font-size: 48px; }
    .txt-h2 { font-size: 40px; font-weight: 500; }
    .txt-h3 { font-size: 32px; font-weight: 500; }
    .txt-title { font-size: 24px; font-weight: 500; }
    .txt-stitle { font-size: 20px; font-weight: 500; }
    .txt-body { font-size: 16px; }
    .txt-btn { font-size: 18px; font-weight: 700; }
    .txt-caption { font-size: 12px; }
    .txt-mini { font-size: 10px; }
}

/* BUTTONS */
:root {
    .btn--primary {
        align-items: center;
        background: #FFF;
        border-radius: 30px;
        border: 1px solid gra;
        display: flex;
        gap: 16px;
        justify-content: center;
        padding: 12px 24px;
        width: 100%;
        cursor: pointer;
    }
    .btn--primary:hover {
        background: #ececec;
    }
    .btn--primary:active {
        background: #dbdbdb;
    }

    .btn--secondary {
        align-items: center;
        background: #1F172F;
        border: 1px solid rgb(209, 209, 209);
        border-radius: 30px;
        display: flex;
        gap: 16px;
        justify-content: center;
        padding: 12px 24px;
        width: 100%;
        color: white;
    }
    .btn--secondary:hover {
        background-color: #1f172fc5;
    }
    .btn--secondary:active {
        background-color: #1F172Fc5;
    }

    .rainbow-btn {
        padding: 4px;
        max-width: 90%;
        position: relative;
        color: #1F172F;
        z-index: 2;
        overflow: hidden;
    }

    .rainbow-btn:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 300%;
        height: 100%;
        /* background: linear-gradient(115deg,#4fcf70,#fad648,#a767e5,#12bcfe,#44ce7b); */
        background: linear-gradient(100deg, #80EAFF, #A066D6, #C84CBF, #1F172F, #80EAFF);
        background-size: 50% 100%
    }
    .rainbow-btn span {
        position: relative;
        z-index: 2;
        text-decoration: none;
        align-items: center;
        background: #ffffff;
        justify-content: center;
        width: 100%;
        display: flex;
        padding: 12px;
        border-radius: 30px;
    }
    
    .rainbow-btn span:hover {
        background: #ffffffcc;
    }

    .rainbow-btn:focus:before,
    .rainbow-btn:hover:before {
        animation: rainbow-btn .90s linear infinite;
    }

    .rainbow-btn-2 {
        padding: 4px;
        max-width: 100%;
        position: relative;
        color: #ffffff;
        z-index: 2;
        overflow: hidden;
        height: 48px;
    }

    .rainbow-btn-2:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 300%;
        height: 100%;
        /* background: linear-gradient(115deg,#4fcf70,#fad648,#a767e5,#12bcfe,#44ce7b); */
        background: linear-gradient(100deg, #80EAFF, #A066D6, #C84CBF, #1F172F, #80EAFF);
        background-size: 50% 100%
    }
    .rainbow-btn-2 span {
        position: relative;
        z-index: 2;
        text-decoration: none;
        align-items: center;
        background: #1F172F;
        justify-content: center;
        width: 100%;
        display: flex;
        padding: 4px;
        border-radius: 30px;
    }
    
    .rainbow-btn-2 span:hover {
        background: #2c2c2ccc;
    }

    .rainbow-btn-2:focus:before,
    .rainbow-btn-2:hover:before {
        animation: rainbow-btn .90s linear infinite;
    }
}

/* ANIMACIONES */
@keyframes rainbow-btn {
    to {
        transform: translateX(-50%)
    }
}

@keyframes show {
    from {
        opacity: 0;
        scale: 25%;
    }

    to {
        opacity: 1;
        scale: 100%;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
}

@keyframes slidein {
    from {
        opacity: 0;
        margin-left: 100%;
    }
    
    to {
        opacity: 1;
        margin-left: 0%;
    }
}

@keyframes slidein-up {
    from {
        opacity: 0;
        margin-top: 200px;
    }
    
    to {
        opacity: 1;
        margin-top: 0%;
    }
}

@keyframes mover-derecha {
    from {
        transform: translateX(-50%);
    }
    to {  
        transform: translateX(-20%);
    }
}

@keyframes move-right {
    0% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes move-left {
    0% {
        transform: translateX(200%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes changeBackground {
    0% {
        background: transparent;
    }
    100% {
        background: white;
    }
}

@keyframes vibrate-1 {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translate(-1px, 2px);
    }
    40% {
        transform: translate(-2px, -1.1px);
    }
    60% {
        transform: translate(1px, 2px);
    }
    80% {
        transform: translate(1px, -2px);
    }
    100% {
        transform: translate(0);
    }
}